.todoContainer {
  width: 500px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

.todoCreateForm {
  display: flex;
  gap: 5px;
}

.todoInput {
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  border-radius: 3;
  border: solid 1px #999;
}

.buttonCreate {
  padding: 10px;
  border-radius: 3;
  background-color: rgb(42, 76, 144);
  color: white;
  border: none;
  cursor: pointer;
}

.todosContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.todo {
  padding: 10px;
  background-color: white;
}

.todoTitle {
  flex: 1;
  font-size: 20px;
}

.todoUpdateForm,
.todoInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button {
  padding: 10px;
  border-radius: 3;
  background-color: rgb(72, 122, 221);
  color: white;
  border: none;
  cursor: pointer;
}

.buttonDelete {
  padding: 10px;
  border-radius: 3;
  background-color: rgb(169, 26, 26);
  color: white;
  border: none;
  cursor: pointer;
}

.navbarTitle {
  text-align: center; /* Centra horizontalmente */
  font-size: 2.5rem; /* Tamaño de fuente grande */
  font-weight: bold; /* Negrita para destacar */
  color: #333; /* Color del texto */

  padding: 10px 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación al interactuar */
}

.navbarTitle:hover {
  transform: scale(1.05); /* Efecto de agrandar al pasar el cursor */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más fuerte al interactuar */
}
